/* CSS BY YOUR NAME */

/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/* IMPORT "INTER" FROM GOOGLE FONTS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
    --glow: 0px 9px 15px var(--blue);
}
/* Possible Ideas for animation/trans
1. Maybe logo can swipe right to reveal menu 
2. Button hover should definitely do something, maybe glow or have circle glow, probably grow a bit?
3. Maybe blue divs could change their background to image/ grow larger when hovered? 
4. Maybe selected columns for form can have logo that jumps to selected box ?
5. I should definitely do something cool with the menu, idk what
6. It may be fun to add some animation to profits table, it looks like the rows change color automatically, 
    perhaps I could switch them up for a second
7. The hero image is of buildings and theres a blur over the words,
    Maybe I could do something clever with the windows and blur
8. Or I could make the blur be everything at first and then shrink to normal? 
9. It might be fun to do something with the glow under the header if it's even possible
10. Maybe I could try to make the blue divs look like buildings or the logo with a clipping mask? 
    I kinda doubt you can clip a container background though
11. Maybe idk if you can transition or animate based on view width but it might be fun if 
    someone where to split windows on their screen?
*/

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */


/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS TO ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font);
    line-height: 1.5;
}


header > div{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: end;
    align-items: center;
    align-content: end;
}
#first-column >*{

}

#second-column {
    justify-content:space-between;
    justify-self: end;
    text-align: right;
}
nav ul{
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
    text-align:center;
    max-height:0;
}
 
nav h2{
    visibility:hidden;
    height:1px;
}

nav li a {
  display:block;
  font-family:sans-serif;
  font-size:1.5rem;
  padding:1rem;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  color: var(--blue);
  transition: background-color .3s ease-in;
}
 a:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem;
    user-select: none;
}
/* BUILDS THE MIDDLE LILNE OF THE HAMBURGER */
label span {
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
/* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
label span:before, label span:after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
header input {
    
  display:none;
}
input:checked ~ ul {
    max-height: 500px;
}



main section{padding-top: 2rem;}

h1,h2{
    font-size: 20pt;
    font-weight: bold;
}
main h2,h3{
    padding:9px;
    
}
h3{
    font-weight:bold;
    font-size:15pt;
}
label{
    display:block;
}
table, table *{
    border:var(--charcoal) 1px solid;
   
}
td,th{
    text-align: center;
    padding: 15px 30px;
}
tr:nth-child(odd) td{
    background-color: var(--charcoal) ;
}
tr:nth-child(even), th{
    background-color: var(--black) ;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#innovate{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/vanguard-hero.jpg") no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
    color: var(--white);
}
#innovate div{
    backdrop-filter: blur(10px);
}
#innovate p{
    padding-bottom:1rem;
}
#innovate div h2, #innovate div button{
        animation: settle 1s linear 400ms 1 normal;
}
@keyframes settle{
    from    {transform:translate(0px, -10px);}
    to   {transform:translate(0px, 0px);} 
    }
    






header{
    background-color: var(--black);
    color:var(--blue);
    width:100%;
    min-width: 400px;
    box-sizing:border-box;
    position:relative;
    z-index:2;
    box-shadow: var(--glow);
   

} 
main{
    z-index:1;
    position:relative;
}


h1{
    position:relative;
    top:-3rem;
    left:3.75rem;
    align-self: center;
} 
nav ul li{
    justify-self: end;
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
#first-column:before{
    content: '';
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    background-size: 45px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    animation: logo 1s linear 100ms infinite alternate;
}
@keyframes logo{
    0% {transform:translate(0px, 0px);}
    100%   {transform:translate(0px, 6px);} 
}

#blues{
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding:3px 0px;
    padding: 1rem 0px 3rem;
}
#proven-results , .bluebox, button {
    background-color: var(--blue);
    color:var(--white);
    padding: 1rem; 

}
.bluebox, button{
    box-sizing: border-box;
    border-radius: 9px;
    width:100%;
    height:100%;
    justify-self:center;
}
button{
    border:none;
    font-weight: bold;
    font-size: 13pt;
}
button::hover{
    background-color: var(--red);
}

#results {
    display:grid;
    grid-template-columns: 1fr;
    justify-content: stretch;
}

#results > div{
    box-sizing: border-box;
    align-self: center;
    justify-self: start;
    justify-content: stretch;
     width:100%; 
}
#results > div table{
    width:100%; 
}

/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    /* transition: ; */
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
.contact{
    background-color: var(--black);
    color:var(--white);
}

.contact label{
    padding-top: 10px;
    font-size: 16px;
}
input[type="text"],textarea{
    width:100%;
    border-radius:0%;
    border: var(--blue) 3px solid;
}
input[type="text"]{
    height:3em;
}
textarea{
    height:5em;
}
input[type="submit"]{
    background-color:var(--blue);
    color:var(--white);
    border:none;
    margin: 2em 0px 2em;
    border-radius: 9px;
    height:3em;
    font-weight: bold;
    font-family: var(--font);
    font-size: 16px;
    width:100%;

}

footer{
    background-color: var(--black);
    color:var(--white);
    text-align: center;
    padding: 1.5em;
}
footer a{
    color:var(--blue);
    text-decoration: underline;
}


@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}




/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width:800px){
    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

    #blues{
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap:30px;
        
    }
    
}
/* MEDIA QUERIES (LARGE) */
@media screen and (min-width:1024px){
    #blues{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap:30px;
            
    }
    .contact form{
        display: grid;
        gap:30px;
        grid-template-columns: 1fr 1fr;
    }
        
}