/* CSS BY YOUR Lilly Mena */
/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
    --glow: 0px 9px 15px var(--blue);
}


/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
body{min-width: 415px;}

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS TO ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--font);
    line-height: 1.5;
}




/* THESE NEXT 2 SETS OF RULES SERVE TO CREATE SHADOW BOX AROUND HEADER AND ENSURE IT'S VISIBILITY */
header{
    background-color: var(--black);
    color:var(--blue);
    width:100%;
    min-width: 400px;
    box-sizing:border-box;
    position:relative;
    z-index:2;
    box-shadow: var(--glow);
} 


main{
    z-index:1;
    position:relative;
}

main > section{
    padding-top: 1rem;
}



/* MAKES HEADER INTO GRID */
header > div{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: end;
    align-items: center;
    align-content: end;
}



/* NEXT SERIES OF THINGS SERVES TO STYLE EVERYTHING IN THE LEFT COLUMN OF THE HEADER */
#first-column:before, #first-column{
    padding-top:15px;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
#first-column:before{
    content: '';
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    background-size: 45px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    animation: logo 1s linear 100ms infinite alternate;
}

/* MAKES SVG LOOK LIKE IT'S HOVERING */
@keyframes logo{
    0%     {transform:translate(0px, 0px);}
    100%   {transform:translate(0px, 6px);} 
}

/* CHANGES H1 TO SIT WITH SVG LOGO */
h1{
    position:relative;
    top:-3.75rem;
    left:3.75rem;
    align-self: center;
} 





/* NEXT SERIES OF THINGS SERVES TO STYLE EVERYTHING IN THE RIGHT COLUMN OF THE HEADER */

/* PUSHES MENU TO THE RIGHT OF SCREEN */
#second-column {
    display:grid;
    justify-content:end;
    text-align: right; 
}




/*START OF HAMBURGER MENU*/
nav ul{
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
    text-align:center;
    max-height:0;
}
 
nav h2{
    visibility:hidden;
    height:1px;
}

nav li a {
  display:block;
  font-size:1.5rem;
  padding:1rem;
  text-transform: uppercase; 
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
  transition: background-color .3s ease-in;
}
nav a{
    transition: all .9s ease-in-out;
}
nav a:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    display: inline-block;
    padding: 1.5rem;
    user-select: none;
}
/* BUILDS THE MIDDLE LINE OF THE HAMBURGER */
label span {
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
/* BUILDS THE TOP AND BOTTOM LINES OF THE HAMBURGER*/
label span:before, label span:after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
header input {
    
  display:none;
}
input:checked ~ ul {
    max-height: 500px;
}

/*END OF HAMBURGER MENU*/








/* HEADING STYLES AND FONTS*/


h1,h2, #proven-results h3{
    font-size: 20pt;
    font-weight: bold;
}
main h2,h3{
    padding:10px ;
    
}
h3{
    font-weight:bold;
    font-size:16pt;
}












/* STYLES ALL CONTENT ON/OF HERO IMAGE PORTION OF SITE  as well as settling headings animation*/

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#innovate{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("images/vanguard-hero.jpg") no-repeat center center/cover;
    height: 80vh;
    display:grid;
    padding:1rem;
    place-items: center;
    text-align: center;
    overflow: hidden;
    color: var(--white);
}
#innovate div{
    backdrop-filter: blur(10px);
}
#innovate p{
    padding-bottom: 1rem;
}

h2, h3{
        animation: settle 1s ease-in-out 0s 1 normal;
}

@keyframes settle{
    from      {opacity:0%; transform:translate(0px, -15px);}
    to        {opacity:100%; transform:translate(0px, 0px);} 
    }
    
button{
    border:none;
    font-weight: bold;
    font-size: 13pt;
    animation: settle 1.4s ease-in-out 0s 1 normal; 
    transition: all 0.3s ease-in-out;
   
}

/* THIS ONE ACTUALLY SERVES TO ANIMATE FOR BOTH BUTTON IN HERO SECTION AND SUBMIT BUTTON */
button:hover , input[type="submit"]:hover{
    background-color: var(--red);
    transform: scale(1.05,1.1);
}




/* THIS AREA PRIMARILY STYLES THE SECTION WITH A WHITE BACKGROUND AND BLUE BOXES BUT I ALSO USED COMMA IN SELECTORS TO KILL TWO BIRDS WITH ONE STONE FOR PROVEN RESULTS SECTION AND BUTTONS */

#blues{
    display:grid;
    grid-template-columns: 1fr;
    justify-content:space-evenly;
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding: 1rem 0px 3rem;
}
#proven-results , .bluebox, button {
    background-color: var(--blue);
    color:var(--white);
    padding: 1rem; 

}
.bluebox, button{
    box-sizing: border-box;
    border-radius: 9px;
    height:100%;
    justify-self:center;
    align-items: end;
}
.bluebox{
     width:100%;
     transition: all 300ms ease-in-out;
}

.bluebox:hover{
    transform: translate(0px, -10px);
}






/* RESULTS SECTION */


/* GENERAL FOR RESULTS SECTION */
#results {
    display:grid;
    grid-template-columns: 1fr;
    gap:15px;
    justify-content: stretch;
}

#results > div{
    box-sizing: border-box;
    align-self: center;
    justify-self: start;
    width: 100%; 
}
#results > div table{
    width: 100%; 
}
#results h3{
    padding-bottom: 30px;
}



/* TABLE STYLING FOR RESULTS SECTION*/
table, table *{
    border:var(--charcoal) 1px solid;   
}
th {
    font-weight: bold;
}
td,th{
    text-align: center;
    padding: 15px 30px;
}
tr:nth-child(odd) td{
    background-color: var(--charcoal) ;
}
tr:nth-child(even), th{
    background-color: var(--black) ;
}


/* BAR CHART STYLING FOR RESULTS SECTION*/
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: all 2s ease-in-out; 
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
 
/* BAR CHART ANIMATION */
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}





/* CONTACT AND FORM STYLING */
form{
    display:grid;
    gap:20px;
    padding-top: 20px;
}

.contact{
    background-color: var(--black);
    color:var(--white);
}

.contact label{
    font-size: 16px;
    display:block;
}
input[type="text"],textarea{
    width: 99%;
    border-radius: 0%;
    border: var(--blue) 3px solid;
}
input[type="text"]{
    height:3em;
}
textarea{
    height:5em;
}
input[type="submit"]{
    background-color:var(--blue);
    color:var(--white);
    border:none;
    margin: 1.3em 0px 2em;
    border-radius: 9px;
    height:3em;
    font-weight: bold;
    font-family: var(--font);
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    transition: all 0.5s ease;
}







/* FOOTER STYLES */
footer{
    background-color: var(--black);
    color:var(--white);
    text-align: center;
    padding: 1.5em;
}
footer a{
    color:var(--blue);
    text-decoration: underline;
}







/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width:800px){
   
    nav ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        overflow: visible;
    }
    
    nav label{
        position:relative;
        top:-40px;
        display: none; 
    }
    
    ul{
        position:relative;
        top:-40px;
        align-items: start;
    }
    
    #results {
        grid-template-columns: 1fr 1fr;
        
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

    #blues{
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        
    }
    
}
/* MEDIA QUERIES (LARGE) */
@media screen and (min-width:1024px){
    
     .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }
    
    #blues{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: stretch;
        gap: 20px;
            
    }
    .contact form{
        padding-top: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
        
}